* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    width: 500px;
}

form input, 
form button {
    display: block;
    margin: 8px;
    width: 250px;
    height: 25px;
}

#Bmaior {
    display: none;
    background-color: green;
}

#Bmenor {
    display: none;
    background-color: red;
}